
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}
body {
	line-height: 1.4em;}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin: 0 auto;
  width: 960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

#body {

}

#content {
	width: 70%;
    margin: 0 auto;
}

#site-wrapper {
	position: absolute;
	display: block;
	width: 100%;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #042E38;
}

nav {
    display: block;
    width: 100%;
    margin: 2.5em auto 1.25em auto;
    font-size: 1.375em;
    border-bottom: 1px solid white;
}

#menu {
	font-family: helvetica;
	font-weight: bold;
	text-transform: lowercase;
	text-align: center;
}

#portfolio img {
	border: .25em solid;
}

#poster-wrapper {
	display:block;
	background-color: rgba(255,255,255,0.75);
	width: 75%;
	padding: 1.5em;
}

#direct-wrapper {
	display:block;
	background-color: rgba(255,255,255,0.75);
	width: 75%;
	padding: 1.5em;
}

#ill-wrapper {
	display:block;
	background-color: rgba(255,255,255,0.75);
	width: 75%;
	padding: 1.5em;
}

#flyer-wrapper {
	display:block;
	background-color: rgba(255,255,255,0.75);
	width: 75%;
	padding: 1.5em;
}

#digital-wrapper {
	display:block;
	background-color: rgba(255,255,255,0.75);
	width: 75%;
	padding: 1.5em;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;    
	color: white;
	font-weight: 700;
    font-size: 3em;
    line-height: 1em;
    margin-top: .625em;
    margin-bottom: .625em;
}

nav ul li {
	float: left;
	margin: .3125em 1.25em 0 1.25em;
}

a {
    color: white;
    text-decoration: none;
}

article {
	float: left;
	width: 49%;
}

#dog {
    margin-right: 2%;
}

article img {
	width: 350px;
}

#copy {
    float: left;
    margin-top: 10px;
}

#copywrite {
    float: right;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

@media screen and (max-width:1050px) {
    nav {font-size:1.2em;}
}

@media screen and (max-width:900px) {
    nav {font-size:1em;}
}

@media screen and (max-width:800px) {
    nav ul li {float: none; text-align: left; list-style-type: disc; } 
}

@media screen and (max-width:650px) {
  article { float:none; width:98%; margin:0 1%; }
  h1 {line-height: 1em;}
  article p {font-size: 1em;}
  article { margin-bottom: 1.25em;}
  footer {margin-top: 0;}
  nav { font-size: 1em;}
  footer {font-size:.65em;}
  }
	




















