
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}
body {
	line-height: 1.4em;
}
	 

nav {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0 auto 1.25em auto;
    font-size: 1em;
    border-bottom: 1px solid white;
    background-color: #042E38;
    z-index: 10;
}

section {
    width: 960px;
    margin: 0 auto;
}

nav ul li {
	float: left;
	margin: .3125em 1.25em 0 1.25em;
}

a {
    color: white;
    text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;    
	color: white;
	font-weight: 700;
    font-size: 2em;
    line-height: 1.2em;
}

.bubble {
	width: 300px;
	color: #1f839d;
	padding-top: 5em;
	margin: 1% 1% 1% 20%;

}

.bubble .pointer {
	height: 15px;
	background: #1f839d;
}

.bubble .pointer div {
	height: 100%;
	background: #042E38;
}

.bubble .pointer .one {
	width: 75%;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	float: left;
}

.bubble .pointer .two {
	width: 25%;
	float: right;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
}

.bubble .content {
	padding: 15px;
	background: #1f839d;
	text-align: center;
}

#description.bubble {
	width: 370px;
	color: #ffffff;
	padding-top: 0em;
	margin: 1em 1em 20em 37em;
}

#description.bubble .pointer {
	height: 15px;
	background: #1f839d;
}

#description.bubble .pointer div {
	height: 100%;
	background: #042E38;
}

#description.bubble .pointer .one {
	width:25%;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	float: left;
}

#description.bubble .pointer .two {
	width: 75%;
	float: right;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
}

#description.bubble .content {
	padding:10px;
	background:#1f839d;
	text-align:center;
}

.examples li {
    float: left;
    margin: 0 1em 1em 0;
}

/* Center Content */

.centered { 
  margin: 0 auto;
  width: 960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
    text-align: center;
	background: #042E38 url("../images/background/road.png") center repeat-y;
}

#content {
	max-width: 70%;
    margin: 0 auto;
}

#site-wrapper {
	position: absolute;
	display: block;
	width: 100%;
	padding: 5% 0%;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

#menu {
	font-family: helvetica;
	font-weight: bold;
	text-transform: lowercase;
	text-align: center;
	padding-bottom: 28px;
}

#logo {
    display: block;
    margin: 0 auto;
    width: auto;
    margin-top: -5em;
    padding-top: 8em;
    padding-bottom: .25em;
    padding-left: 7.1em;
    background-color: #042E38;
}

#portfolio img {
	border: .25em solid;
}

.wrapper {
	display:block;
	background-color: rgba(255,255,255,0.75);
	width: 75%;
	padding: 5%;
}

#description {
    margin-bottom: 7em;
}

#home {
    margin: 0 auto;
    display: block;
    background: url("../images/background/home.png") no-repeat;
    height: 50px;
    width: 50px;
}

#home:hover {
    margin: 0 auto;
    background: url("../images/background/home-hover.png") no-repeat;
}

#portfolio-nav {
    margin: 0 auto;
    display: block;
    background: url("../images/background/portfolio.png") no-repeat;
    height: 50px;
    width: 54.13px;
}

#portfolio-nav:hover {
    margin: 0 auto;
    display: block;
    background: url("../images/background/portfolio-hover.png") no-repeat;
}

#contact {
    margin: 0 auto;
    display: block;
    background: url("../images/background/contact.png") no-repeat;
    height: 50px;
    width: 50px;
}

#contact:hover {
    margin: 0 auto;
    display: block;
    background: url("../images/background/contact-hover.png") no-repeat;
}

#portfolio-icon {
    position: relative;
}

#portfolio-sub {
    position: absolute;
    display: none;
    width: 900px;
    left: -240px;
}

#portfolio-icon:hover #portfolio-sub {
    display: block;
}




