
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin: 0 auto;
  width: 960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
    font-family: myriad pro;
}

#site-wrapper {
    width: 80%;
    margin: 0 auto;
}

#site-header {
	position: relative;
	height: 130px;
	padding: 0 100px;
	background-color: #f1f5df;
}

#top-nav {
      position:absolute;
      top:0;
      right:20px;
      width:120px;
}

#top-nav a {
    text-decoration: none;
    font-size: 12px;
    color: #744918;
}

#menu-wrapper {
    float: right;
    padding: 5px 0;
    width: 900px;
    background-color: #744918;
}

nav ul li {
	float: left;
	margin: 5px 20px 0 20px;
	font-family: myriad pro;
    text-transform: uppercase;
}

nav ul li a {
    color: #fefdfd;
    text-decoration: none;
}

#page {
    float: left;
    width: 52%;
    margin-top: 20px;
    margin-right: 100px;
    padding-left: 100px;
}

#page h1 {
    font-weight: bold;
    font-size: 35px;
}

#page p {
    font-size: 10px;
    line-height: 15px;
    color: #9e9fa0;
}

h1 {
    color: #744918;
}

h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #744918;
    margin-top: 10px;
    margin-bottom: 5px;
}
#aside {
    float:right;
}

aside ul li a {
    color: #744918;
    text-decoration: none;
    font-size: 9px;
}

#robo {
    width: 50px;
}

#footer-wrapper {
    position: relative;
    background-color: #744918
}

#footer-contact {
        color: #f1f5df;
        float: left;
        width: 53%;
        margin-left: 110px;
        font-size: 10px;
}

#site-footer h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #f1f5df;
}

#footer-follow ul li {
    height: 20%;
}

















